<h1>Stupid coaching</h1>

<div class="question-box">
  <h2><%= @question %></h2>
  <p> - You </p>
</div>
<div class="answer-box">
  <h2> <%= @answer %> </h2>
  <p> - Your coach </p>
</div>

<div class= ask-again>
<%= link_to "Ask again", ask_path %>
</div>
